body {
background-color:#fffff6; 
}
caption { 
font-weight:bold;
}
div.center { 
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.footer { 
  background-color:#faedb7;
  padding: 20px;
}

div.indent { 
  padding-left: 15px;
}

div.menuright { 
  float:right;
  width:300px;
  border:solid 2px;
  border-color:grey;
  font-size:1.0em;
  padding-right:5px;
  padding-left:5px;
  position:static;
}

div.right { 
  float:right;
  padding:20px;
}

div.topics { 
  padding-left:50px;
  font-size:1.05em;
}

img.right {
  float:right;
  margin-left: 1em;
  margin-bottom: 1em; 
}

#topics {
font-size:0.9em;
border: 1px solid black;
vertical-align:top;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;
}

ul.horiz {
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

li.horiz { 
display:inline;
}

.constant-contact {
  margin: 20px 0 0;
  background: rgba(0,0,0,0.1);
  padding: 20px;
}

.nav-tabs {
  border-bottom: 3px solid #5576cc;
}
.nav-tabs>li {
  margin-bottom: 0;
}

.nav a {
  text-transform: uppercase;
  font-weight: 600;
}

p {
  max-width: 60em;
}

blockquote {
  font-size: 100%;
  border-left: none;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}
blockquote footer {
  font-size: 100%;
}
