a {
font-family: Calibri,Arial,Helvetica,Verdana, san-serif;
font-size:1.0em;
} 
a:link {color:blue; text-decoration:none; font-size:1.0em;
font-family: Calibri,Arial,Helvetica,Verdana, san-serif;
}      /* unvisited link */
a:visited {color:blue;}  /* visited link */
a:hover {color:red;}  /* mouse over link */
a:active {color:blue;}  /* selected link */ 

a.horiz {
float:left;
width:118px;
font-family:Calibri,Arial,Helvetica,Verdana, san-serif;
font-size:1.0em;
text-align:center;
text-decoration:none;
font-weight:bold;
color:white;
background-color:blue;
padding:0.2em 0.4em;
border-right:1px solid white;
}
a.horiz:link { }
a.horiz:visited { }
a.horiz:hover { 
background-color:red;
}
a.horiz:active { }
a.menu { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.0em;
font-weight:normal;
}

body {
background-color:#fffff0; 
position:absolute; 
padding:0px 10px 10px 10px;
border-style:solid;
border-width:thin;
margin-left:40px; 
width:800px;
}
caption { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.05em;
font-weight:bold;
}
div.center { 
margin-left:15px;
width:400px;
font-family:Cambria, "Times New Roman", serif;
font-size:1.05em;
}
div.container {
position:relative; width:800px;
}
div.content {
position:relative; width:800px;
}
div.footer { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.0em;
background-color:#faedb7;
width:95%;
padding:10px;
}
div.header {
background-color:grey; 
color:white;
padding-left:10px;
height:30px;
width:787px; 
}
div.indent { 
font-size:1.0em;
padding-left:15px;
}
div.menuright { 
float:right;
width:300px;
border:solid 2px;
border-color:grey;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.0em;
padding-right:5px;
padding-left:5px;
position:static;
}
div.right { 
float:right;
padding:20px;
}
div.topics { 
padding-left:50px;
font-family:Cambria, "Times New Roman", serif;
font-size:1.05em;
}
h1 {
font-size:1.3 em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
h2 {
font-size:1.3 em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
} 
h3 {
font-size:1.1 em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
h4 { 
font-size:1.0 em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
img.right {
float:right; 
}
li.horiz { 
display:inline;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
p {
font-family:Cambria, "Times New Roman", serif;
font-size:1.0em;
}
p.cambria {
font-family:Cambria, "Times New Roman", serif;
font-size:1.0em;
padding-right:20px;
}
p.calibri { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:0.9em;
}
table {
width:80%;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
border: 1px solid black;
border-collapse:collapse;
padding-top:5px;
padding-bottom:5px;
}
table.menu  {
border: 1px solid white;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
padding:0;
margin:0;
}
tr.menu td.menu {
border: 1px solid white;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
padding:0;
margin:0;
}
#topics {
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:0.9em;
border: 1px solid black;
vertical-align:top;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;
}
td { 
padding:3px;
width:25%;
border: 1px solid black;
}
th { 
background-color:black;
color:white;
text-align:left;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
ul {
font-family:Cambria, "New Times Roman", serif;
font-size:1.05em;
width:550px;
}
ol {
font-family:Cambria, "New Times Roman", serif;
font-size:1.00em;
width:600px;
}
ul.horiz {
float:left;
font-family:Calibri,Arial,Helvetica,Verdana, san-serif;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

