body {
background-color:#fffff0; 
}
caption { 
font-weight:bold;
}
div.center { 
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

div.footer { 
  background-color:#faedb7;
  padding: 20px;
  margin-top: 20px;
}

div.indent { 
  padding-left: 15px;
}

div.menuright { 
  float:right;
  width:300px;
  border:solid 2px;
  border-color:grey;
  font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
  font-size:1.0em;
  padding-right:5px;
  padding-left:5px;
  position:static;
}

div.right { 
  float:right;
  padding:20px;
}

div.topics { 
  padding-left:50px;
  font-family:Cambria, "Times New Roman", serif;
  font-size:1.05em;
}

img.right {
  float:right;
  margin-left: 1em;
  margin-bottom: 1em; 
}

#topics {
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:0.9em;
border: 1px solid black;
vertical-align:top;
padding-left:5px;
padding-top:5px;
padding-bottom:5px;
}

ul.horiz {
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

li.horiz { 
display:inline;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
