a { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.05em;
}
a:link {color:blue; font-weight:bold; text-decoration:none;}
a:visited {color:blue;}
a:hover {color:red;}
a:active {color:blue;}
 
a.horiz {
float:left;
width:118px;
text-align:center;
text-decoration:none;
font-weight:bold;
color:white;
background-color:green;
padding:0.2em 0.4em;
border-right:1px solid white;
}
a.horiz:link { }
a.horiz:visited { }
a.horiz:hover { 
background-color:red;
}
a.horiz:active { 
}
a.menu { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.0em;
font-weight:normal;
}

body {
background-color:#fffff0; 
position:relative; 
padding:0px 10px 10px 10px;
border-style:solid;
border-width:thin;
margin-left:80px; 
width:800px;
}
caption { 
font-size:1.05em;
}
div.container {
width:100%;
}
div.content { 
padding-right:20px;
padding-left:20px;
}
div.footer { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:medium;
background-color:#faedb7;
width:730px;
padding:10px;
}
div.header {
background-color:grey; 
color:white;
padding-left:25px; 
height:30px;
width:769px; 
}
div.indent { 
padding-left:20px;
}
div.indent2 { 
padding-left:40px;
}
div.menuright { 
float:right;
width:200px;
border:solid 2px;
border-color:grey;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.0em;
padding-right:0;
padding-left:20px;
position:static;
}
div.right { 
float:right;
text-align:center;
padding-left:5px;
}
figure { 
float:right;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.0em;
}
h1 {
font-size:1.5em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}

h2 {
font-size:1.3em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
h3 {
font-size:1.2em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
h4 { 
font-size:1.05em;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
}
img.photo {
float:right;
padding: 5px;
}
img.right {
float:right;
width:250px;
height:250px;
padding: 5px;
}
li { 
margin-top:0.5em;
}
li.horiz { 
display:inline;
}
ol.typea { 
font-family:Cambria, "Times New Roman", serif;
font-size:1.05em;
}
p { 
font-family:Cambria, "Times New Roman", serif;
font-size:1.0em;
}
p.cambria {
font-family:Cambria, "Times New Roman", serif;
font-size:1.0em;
padding-right:20px;
}
p.caption { 
font-family: Cambria, "Times New Roman", serif;
font-size:1.05em;
font-weight:bold;
align:center;
width:360px;
}
p.center { 
font-family: Cambria, "Times New Roman", serif;
font-size:1.0em;
font-weight:bold;
align:center;
}
p.construction { 
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
font-size:1.5em;
font-weight:bold;
color:green;
}
p.description {
font-family:Cambria, "Times New Roman", serif;
font-size:1.0em;
padding-right:100px;
}
p.schedule {
font-family:Cambria, "Times New Roman", serif;
font-size:1.05em;
padding-left:10px;
}
table { 
width:85%;
font-family:Calibri, Arial, Helvetica, Verdana, san-serif;
border: 1px solid black;
border-collapse:collapse;
padding-top:2px;
padding-left:2px;
padding-bottom:2px;
}
table.photos { 
width:750px;
font-family:Calibri, Arial, Helvetica, san-serif;
font-size:1.0em;
padding:1px;
}
table.schools { 
width:350px;
font-family:Cambria, "Times New Roman", serif;
font-size:1.0em;
}

td { 
padding:3px;
width:25%;
border: 1px solid black;
}
td.photos {
padding:3px;
}
th { 
background-color:black;
color:white;
font-family:Cambria, "Times New Roman", serif;
}
td.topics tr.topics th.topics table.topics {
font-family:Calibri, Arial, Helvetica, san-serif;
font-size:1.0em;
border: 1px solid black;
vertical-align:top;
padding-top:5px;
padding-bottom:5px;
}
ul {
font-family:Cambria, "Times New Roman", serif;
font-size:1.02em;
width:600px;
}
ul.horiz {
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

